name: Trigger Azure DevOps Pipeline

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    name: Azure Pipeline Trigger
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Azure DevOps Pipeline
        uses: Azure/pipelines@v1
        with:
          azure-devops-project-url: https://dev.azure.com/razvinoor/AgileProject
          azure-pipeline-name: 'razvinoor.gitapp'
          azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
